/*Ce style css contient uniquement les normes imposées par unistra.*/
@font-face { /*télécharger la police*/
  font-family: "Calligraphy";
  src : url("./police/Staples Calligraphy.ttf");
}
@font-face { /*télécharger la police*/
  font-family: "UnistraA";
  src : url("./police/UnistraA-Regular.ttf");
}
@font-face {/*télécharger la police*/
  font-family: "UnistraC";
  src : url("./police/UnistraC-Regular.ttf");
}
@font-face {/*télécharger la police*/
  font-family: "Symboles";
  src : url("./symboles/UnistraSymbol-Regular.ttf");
}
.symbol{  /* Les symboles devant chaque items*/
  font-family:"Symboles";
  padding :15px;
}

h1 { /*gros titre : nom & prénom*/
  font-family:"Calligraphy";
  font-size : 65px;
  padding :20px;
  border: 1px;
}
h2 { /*titres des items */
  font-family:"Verdana";
  font-size : 35px;
  padding :1px;
  border: 1px;
}
body { /* corps du texte */
  font-family:"UnistraA";
  font-size: 18px;
  line-height: 1.2em;
}
caption { /* titre des tableaux dans le cv*/
  font-family:"UnistraC";
}
option,select,input,label { /*les options et titres dans le formulaire */
  font-family:"UnistraC";
}
